<h1>Search Results</h1>

<h2>Your search results for "<%= @query %>".</h2>


<div class="guide">
  <p><%= @guides.character %></p>
  <p><%= guides.specie %></p>
  <p><%= guides.quote %></p>
  <p><%= guides.planet.planet %></p>
</div>