<p id="notice"><%= notice %></p>

<%= link_to 'Home', root_path %> |
<%= link_to 'Characters', guides_path %>

<h1>Planets</h1>

<table>
  <thead>
    <tr>
      <th>Planet</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @planets.each do |planet| %>
      <tr>
        <td><%= planet.planet %></td>
        <td><%= planet.location %></td>
        <td><%= link_to 'Show', planet %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
