<p id="notice"><%= notice %></p>

<p>
  <strong>Planet:</strong>
  <%= @planet.planet %>
</p>

<p>
  <strong>Location:</strong>
  <%= @planet.location %>
</p>

<%= link_to 'Characters', guides_path %>
<%= link_to 'Back', planets_path %>
