<p id="notice"><%= notice %></p>

<%= link_to 'Characters', guides_path %> |
<%= link_to 'Planets', planets_path %> |
<%= link_to 'Home', root_path %>

<h1>All Characters</h1>

<table>
  <thead>
    <tr>
      <th>Character</th>
      <th>Specie</th>
      <th>Quote</th>
      <th>Planet</th>
    </tr>
  </thead>

  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.character %></td>
        <td><%= guide.specie %></td>
        <td><%= guide.quote %></td>
        <td><%= guide.planet.planet %></td>
        <td><%= link_to 'Show', guide %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
