<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @guide.character %>
</p>

<p>
  <strong>Specie:</strong>
  <%= @guide.specie %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @guide.quote %>
</p>

<p>
  <strong>Planet:</strong>
  <%# <% if @guide.planet.planet.count > 0 %>
    <% @guide.planet.planet %>

  <%# <% else %>
    <%# <div>Only has 1 planet </div> %>
  <%# <% end %>
</p>

<%= link_to 'Home', root_path %> |
<%= link_to 'Planets', planets_path %> |
<%= link_to 'Back', guides_path %>
